
:root {
    --primary-title-color: #212121;
    --primary-text-color: color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff
}
body {
    margin: 0;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  background-color: var(--primary-white-color);
}
.link {
    font-family: inherit;
    color: var(--primary-title-color);
    text-decoration: none;
}
.link:hover, .link:focus {
    color: var(--accent-color);
}
.list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}
.section {
    margin-bottom: 94px;
}
.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid black;
    
}
/* Header */
.header {
    background-color: aqua;
}
.main-nav {
    display: flex;
    align-items: center;
    
}

/* Logo */

.logo {
  font-family: raleway, sans-serif;
  color: var(--primary-title-color);
 text-decoration: none;
 font-weight: 700;
font-size: 26px;
line-height: 1.19;
}
.logo:hover, .logo:focus {
    color: var(--accent-color);
}

.logo span {
  color: var(--accent-color);
}
/* Site navigation */
.site-nav {
display: flex;
margin-left: 86px;
}
.nav-item {
    margin-right: 50px;
}
.nav-item:last-child {
    margin-right: 0;
}
.site-nav .link {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
font-family: inherit;
    color: var(--primary-title-color);
    
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);

}
/* Header link */
.flex-contacts {
    display: flex;
    margin-left: auto;
}
.contacts-item {
    margin-right: 30px;
}
.contacts-item:last-child {
    margin-right: 0;
}
.header-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--primary-text-color);
text-decoration: none;

}
.header-link:hover, .header-link:focus {
    color: var(--accent-color);
}
/* Hero */
.hero {
    text-align: center;
    background-color: aquamarine;
    margin-bottom: 94px; 
}
.hero .title {
    margin-top: 0;
    margin-bottom: 46px;
   
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
background-color: #757575;
}
.hero-button {
    display: inline-block;
    padding: 10px 32px;
    border-radius: 4px;
    min-width: 200px;
height: 50px;

font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background-color: var(--accent-color);
text-decoration: none;

}
/* Feature section */
.section.features {
    background-color: blueviolet;
    
}
.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    

font-size: 36px;
line-height: 1.16;
text-align: center;
}

.features-title {
    margin-top: 30px;
    margin-bottom: 10px;
    

font-size: 14px;
line-height: 1.14;
text-transform: uppercase;

}
.features-text {
    margin-top: 0;
    margin-bottom: 0;
    
font-size: 14px;
line-height: 1.71;
color: var(--primary-text-color);

}
/* Work section */
.work {
    
    background-color: brown;
}
.work-title {
    margin-top: 0;
    margin-bottom: 0;
    
font-size: 14px;
line-height: 1.14;
text-align: center;
text-transform: uppercase;
color: var(--primary-white-color);
background-color: #757575;
}
/* Worker section */
.worker {
    background-color: darkcyan;
}
    
.worker.link {
    display: inline-block;
    margin-bottom: 30px;
}

.worker-title {
    margin-top: 0;
    margin-bottom: 10px;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
}
.worker-text {
    margin-top: 0;
    margin-bottom: 28px;
font-size: 16px;
line-height: 1.18;
color: var(--primary-text-color);
}
.clients {
    background-color: tomato;
}


/* Footer */
.footer {
    background-color: violet;
}
.flex {
    display: flex;
    
}
.address-item {
    margin-bottom: 46px;
    margin-right: 179px;
}
.social {
    margin-bottom: 46px;
    margin-right: 100px;
}
 
 .footer-logo { 
    font-family: Raleway;
    color: var(--primary-title-color);

font-weight: 700;
font-size: 22px;
line-height: 1.18;
text-decoration: none;


}
.footer-logo.link {
    display: inline-block;
    margin-bottom: 10px;
}

.footer-logo span {
    color: var(--accent-color);
} 
.address-text {
    display: inline-block;
    margin-bottom: 9px;
}
.address {
font-size: 14px;
line-height: 1.71;
color: var(--primary-white-color);
background-color: #757575;
}
.address-link {
    display: inline-block;
    margin-bottom: 9px;
font-size: 14px;
line-height: 1.71;
color: rgba(255, 255, 255, 0.6);
background-color: #757575;
}
.address-link:last-child {
    margin-bottom: 0;
}
.join {
    display: inline-block;
    margin-bottom: 21px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--primary-white-color);
background-color: #757575;
}
.social-list {
    display: flex;
}
.social-item {
    margin-right: 10px;
}
.social-item:last-child {
    margin-right: 0;
}
.footer-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
line-height: 2;
text-align: center;

color: rgba(255, 255, 255, 0.4);
background-color: #757575;
}






/* PORTFOLIO */
/* Portfolio filters */
.header.portfolio {
    margin-bottom: 94px;
}
  .btn {  
    
    margin-bottom: 34px;
}
.button-list {
    display: flex;
    justify-content: center;
    
}
.btn-item {
    margin-right: 8px;
}
.btn-item:last-child {
    margin-right: 0;
}

.button {
    display: inline-block;
    min-width: 130px;
     min-height: 38px;
     border-radius: 4px;
     padding: 6px 22px;
    

    font-family: inherit;
    color: var(--primary-title-color);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
}

.button:hover, .button:focus {
    color: var(--accent-color);
}
/* Portfolio examples  */

.example.list {
    display: flex;
    flex-wrap: wrap;
}
.example-item {
    margin-right: 30px;
    margin-bottom: 30px;
}
.example-item:nth-child(3n) {
    margin-right: 0;
}
.example-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-link {
    display: inline-block;
    margin-bottom: 20px;
}

.example-title {
    margin-top: 0;
    margin-bottom: 4px;

font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
}
.example-text {
    margin-top: 0;
    margin-bottom: 0;

font-size: 16px;
line-height: 1.87;
color: var(--primary-text-color);

}
 .content-text {
    
font-size: 18px;
line-height: 1.56;
color: var(--primary-white-color);
background-color: var(--accent-color);

}
 